.app-header {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.8em;
}

.search-header {
  margin-top: 20px;
  margin-bottom: 20px;
}

img.office-image {
  width: 100%;
}

.office-list-item:hover {
  cursor: pointer;
}

.office-google-map {
  width: 100%;
  height: 300px;
}